<div class="footer">
  <h5 class="title">Curso basado en material generado por:</h5>
  <a href="http://software-carpentry.org" title="Software Carpentry">
  <img alt="Software Carpentry banner" src="img/software-carpentry-banner.png" style="width: 120px" />
  <a class="label swc-blue-bg" href="https://github.com/swcarpentry/git-novice">Fuente Original</a>
  <a class="label swc-blue-bg" href="mailto:selene.fernandez.valverde@gmail.com">Contacto</a>
  <a class="label swc-blue-bg" href="LICENSE.html">Licencia</a>
</div>
